$blue: hsl(246, 80%, 60%);

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: $very-dark-blue;
  min-height: 100vh;
}

.cards {
  display: grid;

  grid-template-columns: 1fr;
  min-height: 100vh;
  padding: 3em 1.5em;
}

.main-card {
  position: relative;
}

.main-card-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $blue;
  border-radius: 15px;
  padding: 1.5em;
  z-index: 5;
  position: relative;

  img {
    border-radius: 50%;
    border: solid 3px white;
    max-width: 4em;
  }
}

.card-desc {
  text-align: left;
  font-family: "Rubik", sans-serif;
  .report-for {
    color: white;
    font-size: 0.9em;
  }
  .user-name {
    color: white;
    font-size: 1.5em;
    padding: 0.2em 0;
    padding-bottom: 0;
  }
}

.btn-selectors {
  position: relative;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: $dark-blue;
  border-radius: 15px;
  padding-top: 2em;

  transform: translateY(-2em);
  margin-bottom: -2em;
  z-index: 1;

  p {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    color: $desaturated-blue;
    font-family: "Rubik", sans-serif;
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}

.btn-active {
  color: white !important;
}

@media only screen and (min-width: 800px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1.2em;
  }

  .main-card {
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .main-card-header {
      min-height: 60%;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 40%;

      .user-name {
        font-size: 2em;
        font-weight: 300;
      }

      img {
        align-self: flex-start;
      }
    }

    .btn-selectors {
      flex-direction: column;
      padding-top: 20%;
      flex: 1;
      padding-left: 1.5em;
    }
  }

  .time-card {
    position: relative;
    height: 100%;
  }

  .time-card-info {
    height: 85%;
  }
  .info-wrapper {
    min-height: 100%;
    padding: 2em;
  }

  div:nth-child(2) {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: space-between;

    .time-spent {
      font-size: clamp(2.5em, 2.8em, 3.5em);
      padding-bottom: 0.5em;
      padding-left: 0.3em;
    }
  }
}
