$light-red-work: hsl(15, 100%, 70%); //(work)
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

$soft-blue: hsl(195, 74%, 62%); //(play)
$light-red: hsl(348, 100%, 68%); //(study)
$lime-green: hsl(145, 58%, 55%); //(exercise)
$violet: hsl(264, 64%, 52%); // (social)
$soft-orange: hsl(43, 84%, 65%); //(self care)

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.time-card {
  position: relative;
}

.time-card-header {
  display: flex;
  justify-content: flex-end;
  border-radius: 15px;
  overflow: hidden;
  z-index: 4;
  img {
    transform: translateY(-0.2em);
    padding-right: 1em;
    max-height: 78px;
    min-height: 78px;
    max-width: 94px;
  }
}

.time-card-info {
  background-color: $dark-blue;
  z-index: 5;
  font-family: "Rubik", sans-serif;
  border-radius: 15px;
  min-height: 5em; // template (delete)
  min-width: 100%; // template (delete)

  transform: translateY(-2.2em);
}

.info-wrapper {
  font-family: "Rubik", sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-bottom: 1.5em;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: 500;
      padding-bottom: 0.3em;
    }
    .time-spent {
      font-size: 2em;
      font-weight: 300;
    }
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .prev-span-results {
      color: $desaturated-blue;
      font-size: 0.9em;
    }
    img {
      max-width: 2em;
      float: right;
      align-self: end;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
img[alt="Work"] {
  content: url(../Images/icon-work.svg);
}

img[alt="Play"] {
  content: url(../Images/icon-play.svg);
}

img[alt="Study"] {
  content: url(../Images/icon-study.svg);
}

img[alt="Exercise"] {
  content: url(../Images/icon-exercise.svg);
}

img[alt="Social"] {
  content: url(../Images/icon-social.svg);
}

img[alt="Self Care"] {
  content: url(../Images/icon-self-care.svg);
}

#Work {
  background-color: $light-red-work;
}

#Play {
  background-color: $soft-blue;
}
#Study {
  background-color: $light-red;
}
#Exercise {
  background-color: $lime-green;
}
#Social {
  background-color: $violet;
}
#SelfCare {
  background-color: $soft-orange;
}
